langchain
langchain-community
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
pypdf
streamlit
langchain-text-splitters
huggingface_hub
pyvis
networkx
python-dotenv
torch
torchvision
gradio
